{
  "auths": {
    "cloud.openshift.com": {
      "auth": "==",
      "email": "{{administrator_email}}"
    },
    "quay.io": {
      "auth": "==",
      "email": "{{administrator_email}}"
    },
    "registry.connect.redhat.com": {
      "auth": "==",
      "email": "{{administrator_email}}"
    },
    "registry.redhat.io": {
      "auth": "==",
      "email": "{{administrator_email}}"
    },
    "INBACRNRDL0100.offline.oxtechnix.lan:{{registry_port}}": {
      "auth": "{{registry_password}}",
      "email": "{{administrator_email}}"
    },
    "inbacrnrdl0100.offline.oxtechnix.lan:{{registry_port}}": {
      "auth": "{[registry_password}}",
      "email": "{{administrator_email}}"
    }
  }
}
